<div class="panel panel-default col-md-2">
    <div class="panel panel-heading">
        <h4>Wyszukiwanie</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h5>Filtrowanie</h5>
        </div>
        <form action="" class="search-form">
            <div class="form-group has-feedback">
                <input #searchtext [(ngModel)]="searchText" type="text" class="form-control search" name="searchText" id="search-author" placeholder="Szukaj..."
                />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h5>Sortowanie</h5>
        </div>

        <p class="sorter-column">Imię:
            <span class="sorter pull-right" >
                    <a (click)="sortBy('firstName', false)" [ngClass]="{'not-active': (column == 'firstName' && reverse == false) }">A - Z</a> | 
                    <a (click)="sortBy('firstName', true)"  [ngClass]="{'not-active': (column == 'firstName' && reverse == true) }">Z - A</a>
            </span>
        </p>
        <p class="sorter-column">Nazwisko:
            <span class="sorter pull-right" >
                    <a (click)="sortBy('lastName', false)" [ngClass]="{'not-active': (column == 'lastName' && reverse == false) }">A - Z</a> | 
                    <a (click)="sortBy('lastName', true)"  [ngClass]="{'not-active': (column == 'lastName' && reverse == true) }">Z - A</a>
            </span>
        </p>
    </div>

</div>

<div class="container col-md-10">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3>&nbsp;Autorzy</h3>
            <button (click)="showAddAuthor()" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Imię</th>
                <th>Nazwisko</th>
            </thead>
            <tbody>
                <tr *ngFor="let author of (authors | orderBy: column: reverse | FilterPipe: searchtext.value); let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ author.firstName }}</td>
                    <td>{{ author.lastName }}</td>
                    <td>
                        <button (click)="updateAuthor(i)" class="btn btn-sm btn-secondary pull-right">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button (click)="deleteAuthor(author.id)" class="btn btn-sm btn-secondary">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-sm-6 col-sm-offset-5" *ngIf="addAuthorVisible">
            <div class="container col-md-5">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h4>Dodaj nowego autora</h4>
                    </div>
                    <div class="panel panel-body">
                        <form (ngSubmit)="addAuthor()">
                            <div class="form-group">
                                <label>Imię:</label>
                                <input type="text" class="form-control" placeholder="Imię..." [(ngModel)]="author.firstName" name="firstName">
                            </div>
                            <div class="form-group">
                                <label>Nazwisko:</label>
                                <input type="text" class="form-control" placeholder="Nazwisko..." [(ngModel)]="author.lastName" name="lastName">
                            </div>
                            <button type="submit" class="btn btn-primary">Dodaj</button>
                            <button type="reset" (click)="hideAddAuthor()" class="btn btn-primary">Anuluj</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-sm-offset-5" *ngIf="editAuthorVisible">
            <div class="container col-md-5">
                <div class="panel panel-default">
                    <div class="panel panel-heading">
                        <h4>Edycja autora</h4>
                    </div>
                    <div class="panel panel-body">
                        <form (ngSubmit)="editAuthor()">
                            <div class="form-group">
                                <label>Imię:</label>
                                <input type="text" class="form-control" [(ngModel)]="author.firstName" name="firstName">
                            </div>
                            <div class="form-group">
                                <label>Nazwisko:</label>
                                <input type="text" class="form-control" [(ngModel)]="author.lastName" name="lastName">
                            </div>
                            <button type="submit" (click)="editAuthor()" class="btn btn-primary">Zaktualizuj</button>
                            <button type="reset" (click)="hideEditAuthor()" class="btn btn-primary">Anuluj</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>