th {
    padding-left: 8px;
}

.sorter {
    margin-right: 12px;
}

.sorter-column {
    padding-left: 8px;
}

.search {
    margin: 12px;
    width: 92%;
}

.glyphicon-search {
    margin-right: 8px;
}

a {
    text-decoration: none;
    margin: 8px;
}

a:hover {
    cursor: pointer;
}

.not-active {
    pointer-events: none;
    cursor: default;
    color: black;
}