<div class="panel panel-default col-md-2">
    <div class="panel panel-heading">
        <h4>Wyszukiwanie</h4>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h5>Filtrowanie</h5>
        </div>
        <form action="" class="search-form">
            <div class="form-group has-feedback">
                <input #searchtext [(ngModel)]="searchText" type="text" class="form-control search" name="searchText" id="search-book"
                    placeholder="Szukaj..." />
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h5>Sortowanie</h5>
        </div>

        <p class="sorter-column">Autor:
            <span class="sorter pull-right">
                <a (click)="sortBy('author', false)" [ngClass]="{'not-active': (column == 'author' && reverse == false) }">A - Z</a> |
                <a (click)="sortBy('author', true)" [ngClass]="{'not-active': (column == 'author' && reverse == true) }">Z - A</a>
            </span>
        </p>
        <p class="sorter-column">Rok wydania:
            <span class="sorter pull-right">
                <a (click)="sortBy('year', false)" [ngClass]="{'not-active': (column == 'year' && reverse == false) }">1 - 9</a> |
                <a (click)="sortBy('year', true)" [ngClass]="{'not-active': (column == 'year' && reverse == true) }">9 - 1</a>
            </span>
        </p>

        <p class="sorter-column">Tytuł:
            <span class="sorter pull-right">
                <a (click)="sortBy('title', false)" [ngClass]="{'not-active': (column == 'title' && reverse == false) }">A - Z</a> |
                <a (click)="sortBy('title', true)" [ngClass]="{'not-active': (column == 'title' && reverse == true) }">Z - A</a>
            </span>
        </p>


    </div>

</div>

<div class="container col-md-10">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3>&nbsp;Książki</h3>
            <button (click)="showAddBook()" class="btn btn-primary pull-right" id="addBook">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Tytuł</th>
                <th>Rok wydania</th>
                <th>Autor</th>
            </thead>
            <tbody>
                <tr *ngFor="let book of ( books | orderBy: column : reverse | BookFilterPipe: searchtext.value); let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.author.firstName }} {{ book.author.lastName }} </td>
                    <td>
                        <button (click)="updateBook(i)" class="btn btn-sm btn-secondary pull-right">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                    <td>
                        <button (click)="deleteBook(book.id)" class="btn btn-sm btn-secondary">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6 col-sm-offset-5" *ngIf="addBookVisible">
        <div class="container col-md-5">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h4>Dodaj nową książkę</h4>
                </div>
                <div class="panel panel-body">
                    <form (ngSubmit)="addBook()">
                        <div class="form-group">
                            <label for="title">Tytuł:</label>
                            <input type="text" class="form-control" placeholder="Tytuł..." [(ngModel)]="book.title" name="bookTitle">
                        </div>
                        <div class="form-group">
                            <label for="year">Rok wydania:</label>
                            <input type="number" class="form-control" placeholder="Rok wydania..." [(ngModel)]="book.year" name="bookYear">
                        </div>
                        <div class="form-group">
                            <label for="authors">Autor:</label>
                            <select class="form-control" id="author" [(ngModel)]="author" name="author" (change)="changed()">
                                <option *ngFor="let author of authors; let i = index" [ngValue]="author" >
                                    {{ author.firstName }} {{ author.lastName }}
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" id="bookAddConfirm">Dodaj</button>
                        <button type="reset" (click)="hideAddBook()" class="btn btn-primary" id="bookAddCancel">Anuluj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<div class="col-sm-6 col-sm-offset-5" *ngIf="editBookVisible">
    <div class="container col-md-5">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                <h4>Edycja książki</h4>
            </div>
            <div class="panel panel-body">
                    <form (ngSubmit)="editBook()">
                            <div class="form-group">
                                <label for="title">Tytuł:</label>
                                <input type="text" class="form-control" [(ngModel)]="book.title" name="bookTitle">
                            </div>
                            <div class="form-group">
                                <label for="year">Rok wydania:</label>
                                <input type="number" class="form-control" [(ngModel)]="book.year" name="bookYear">
                            </div>
                            <div class="form-group">
                                <label for="authors">Autor:</label>
                                <select class="form-control" id="author" [(ngModel)]="author" name="author" (change)="changed()">
                                    <option *ngFor="let author of authors; let i = index" [ngValue]="author" >
                                        {{ author.firstName }} {{ author.lastName }}
                                    </option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" id="bookAddConfirm">Aktualizuj</button>
                            <button type="reset" (click)="hideEditBook()" class="btn btn-primary" id="bookAddCancel">Anuluj</button>
                        </form>
            </div>
        </div>
    </div>

</div>
</div>