<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
             <a class="navbar-brand">SPA Biblioteka</a>
        </div>
        <ul class="nav navbar-nav">
                <li><a routerLink="/">Książki</a></li>
                <li><a routerLink="/authors">Autorzy</a></li>
        </ul>
    </div>
</nav>
<div class="container col-md-12">
        <router-outlet></router-outlet>
</div>


